.chatWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: url('../../../public/bg.png') center/cover no-repeat;
}

.messageBubbleWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
  padding-top: 24px;

  @media (min-width: 768px) {
    width: 640px;
    align-self: center;
  }
}

.messageBubble {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 16px;
  margin: 0 24px 16px 24px;
  border-radius: 5px;
  position: relative;
  width: 240px;
  border: 1px solid #e3e5da;

  p {
    margin: 0;
  }

  @media (min-width: 768px) {
    width: 420px;
  }
}

p.authorName {
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}

.timestamp {
  font-size: 12px;
  color: #888;
  align-self: flex-end;
  position: relative;
  top: 10px;
  left: 8px;
}

.inputContainer {
  display: flex;
  padding: 8px;
  background-color: #3898d4;
  position: sticky;
  bottom: 0;
}

.messageInput {
  flex: 1;
  padding: 8px;
  margin-right: 8px;
  border: 2px solid #2e77a4;
  border-radius: 5px;
  height: 25px;
}

.sendButton {
  padding: 8px 20px;
  background-color: #f7866e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.loggedInUser {
  background-color: #fcf6c4;
  align-self: flex-end;
}
